<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging " />
  </configSections>
  <loggingConfiguration name="Log" tracingEnabled="true" defaultCategory="Error">
    <listeners>
      <add name="MessageListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging " fileName="Log\Message.log" formatter="Text Formatter" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging " />
      <add name="ErrorListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging " listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging " fileName="Log\Error.log" formatter="Text Formatter" rollFileExistsBehavior="Overwrite" rollInterval="Day" timeStampPattern="MM-dd-yyyy" traceOutputOptions="DateTime, Timestamp" />
      <add name="TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging " fileName="Log\Trace.log" formatter="Text Formatter" traceOutputOptions="DateTime, Timestamp" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging " />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging " template="Timestamp: {timestamp(local:dd/MM/yyyy hh:mm:ss.fff tt)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Message">
        <listeners>
          <add name="MessageListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="ErrorListener" />
        </listeners>
      </add>
      <add switchValue="All" name="Trace">
        <listeners>
          <add name="TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="ErrorListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>   
    <add name="MTDB" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=MTDB;User ID=sa;Password=dataadmin;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="UserName" value="Det4CVHXp8Z6og3E+kiCJw==" />
    <add key="PassCode" value="hU8FO0D8wcsCoFiehcf6Mg==" />
    <add key="AdminUserName" value="W+2ms7RIzTqLO+WmHkDBZA==" />
    <add key="AdminPassCode" value="W+2ms7RIzTqLO+WmHkDBZA==" />
    <add key="RootDirectory" value="C:\MyOwn" />
    <add key="XMLDataFile" value="JenData.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="JenDBProvider" value="System.Data.SqlServerCe.3.5"/>
    <add key="JenDBPassword" value="yzX7jv+12QjiCSt6U5GfIw=="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>